@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 400;
	src: url("./font/Gilroy-Regular.woff2") format("woff2"), url("./font/Gilroy-Regular.woff") format("woff");
}

@font-face {
	font-family: "Comfortaa";
	font-style: normal;
	font-weight: 700;
	src: url("./font/Comfortaa-Bold.woff2") format("woff2"), url("./font/Comfortaa-Bold.woff") format("woff");
}

html {
	margin: 0 auto;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: "Gilroy", sans-serif;
	color: #364243;
	background: #f8f8f8;
	overflow-x: hidden;
}

.visually-hidden {
	width: 0.1rem;
	height: 0.1rem;
	margin: -0.1rem;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

.page__container {
	width: 100%;
	height: 100%;
	max-width: 137rem;
	margin: 0 auto;
	padding: 0 4rem;
}

@media (max-width: 102rem) {
	.page__container {
		padding: 0 2rem;
	}
}

@media (max-width: 57rem) {
	.page__container {
		padding: 0 1rem;
	}
}

.headline {
	margin-bottom: 6rem;
}

@media (max-width: 102rem) {
	.headline {
		margin-bottom: 4.5rem;
	}
}

@media (max-width: 76rem) {
	.headline {
		margin-bottom: 3rem;
	}
}

.headline__title {
	margin: 0;
	font-family: "Comfortaa", monospace;
	font-size: 5rem;
	line-height: 1.1;
	font-weight: 700;
	color: #68989a;
}

@media (max-width: 102rem) {
	.headline__title {
		font-size: 4rem;
	}
}

@media (max-width: 57rem) {
	.headline__title {
		font-size: 3rem;
	}
}

.accordion {
	margin: 16rem 0;
}

@media (max-width: 102rem) {
	.accordion {
		margin: 12rem 0;
	}
}

@media (max-width: 57rem) {
	.accordion {
		margin: 8rem 0;
	}
}

.accordion__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.accordion__item {
	background: #fff;
	border-radius: 4rem;
}
@media (hover: hover) {
  .accordion__item {
    cursor: pointer;
  }
}

@media (max-width: 57rem) {
	.accordion__item {
		border-radius: 2rem;
	}
}

.accordion__item:not(:last-child) {
	margin-bottom: 1rem;
}

@media (max-width: 76rem) {
	.accordion__item:not(:last-child) {
		margin-bottom: 1rem;
	}
}

.accordion__content-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 4rem;
}

.accordion__content {
	font-family: "Comfortaa", monospace;
	font-size: 3rem;
	line-height: 1.6;
	font-weight: 700;
	display: block;
	padding: 5rem 4rem;
	color: #68989a;
	transition: all 0.4s ease;
}

@media (hover: hover) {
  .accordion__content {
    cursor: pointer;
  }
}

@media (max-width: 102rem) {
	.accordion__content {
		font-size: 2.5rem;
	}
}

@media (max-width: 57rem) {
	.accordion__content {
		padding: 2.5rem 2rem;
		font-size: 2rem;
		line-height: 1.1;
	}
}

@media (hover: hover) {
  .accordion__list:hover .accordion__content {
    color: #364243;
  }
}

.accordion__item-radio:checked ~ .accordion__content {
	color: #364243;
}
@media (hover: hover) {
  .accordion__item:hover .accordion__title {
    color: #364243;
  }
}

.accordion__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
	border: 0.1rem solid #8fbec0;
	transition: all 0.4s ease;
	opacity: 1;
}

@media (max-width: 57rem) {
	.accordion__icon {
		width: 5rem;
		height: 5rem;
	}
}

@media (hover: hover) {
  .accordion__icon {
    opacity: 0;
  }
}

@media (hover: hover) {
  .accordion__list:hover .accordion__icon {
    opacity: 1;
  }
}

@media (hover: hover) {
  .accordion__title:hover .accordion__icon {
    background: #68989a;
  }
}

.accordion__item-radio:checked ~ .accordion__content .accordion__icon {
	transform: rotate(-90deg);
	background: #68989a;
}
@media (hover: hover) {
  .accordion__item:hover .accordion__icon {
    transform: rotate(-90deg);
    background: #68989a;
  }
}

.accordion__icon-arrow {
	display: block;
	stroke: #68989a;
	fill: none;
	transform: rotate(90deg);
	transition: all 0.4s ease;
}

@media (hover: hover) {
  .accordion__title:hover .accordion__icon-arrow {
    stroke: #fff;
  }
}

.accordion__item-radio:checked ~ .accordion__content .accordion__icon-arrow {
	stroke: #fff;
}
@media (hover: hover) {
  .accordion__item:hover .accordion__icon-arrow {
    stroke: #fff;
  }
}

.accordion__meme {
	max-height: 0;
	overflow: hidden;
	transition: all 0.4s ease;
}

.accordion__item-radio:checked ~ .accordion__content .accordion__meme {
	max-height: 1000vh;
}
@media (hover: hover) {
  .accordion__item:hover .accordion__meme {
    max-height: 1000vh;
  }
}

.accordion__meme-wrap {
	display: flex;
	justify-content: center;
	padding: 4rem;
}

@media (max-width: 57rem) {
	.accordion__meme-wrap {
		max-width: 100%;
		padding: 2rem 0;
	}
}

.accordion__meme-image {
	transform: scale(0);
	transition: all 0.4s ease;
}

.accordion__item-radio:checked ~ .accordion__content .accordion__meme .accordion__meme-image {
	transform: scale(1);
}
@media (hover: hover) {
  .accordion__item:hover .accordion__meme-image {
    transform: scale(1);
  }
}
